<!DOCTYPE html>

<html>

  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml;  charset=utf-8" />
    <meta http-equiv="content-type" content="text/html;  charset=utf-8" />

    <meta name="language" content="de-DE" />
    <title>FlyRes - Flugzeugreservierung</title>
 
    <link href="{{asset('bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{asset('bootstrap-datetimepicker/css/bootstrap-datetimepicker.css') }}" rel="stylesheet" />
    <link href="{{asset('images/css/flyres.css') }}" type="text/css" rel="stylesheet"> 
    <link href="{{asset('images/css/calendarstyle.css') }}" type="text/css" rel="stylesheet"> 

    
  </head> 
  <body>
    <script type="application/javascript" src="{{asset('images/js/wz_tooltip.js')}}"></script>
    <script type="application/javascript" src="{{asset('bootstrap/dist/js/jquery.min.js') }}"></script>
    <script type="application/javascript" src="{{asset('bootstrap/dist/js/bootstrap.min.js') }}"></script> 
    <script type="application/javascript" src="{{asset('bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script> 
    <script type="application/javascript"  src="{{asset('bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.de.js') }}"></script> 
   
    <br>
  </body>
</html>

{% block content %}
  
<style>
  table td, table td * {vertical-align: top;}
  hr { margin-top: 0.1em; margin-bottom: 0.1em; }
</style>  

<form id="myForm" class="form-inline" novalidate="true" action="{{ path('_Sunrise_Sunset') }}" method="POST" {#{ form_enctype(form) }#}>
  <table>
    <tr>
      <td>
        <table style="border-collapse:collapse" border='0' cellspacing='0' cellpadding='10'>
          <tr bgcolor='#186FA3' height='25'>
            <td>
             
              <font color='#FFE75B'>
                &nbsp; &nbsp; &nbsp;
                <b>SONNENAUFGANG (SUNRISE) UND SONNENUNTERGANG (SUNSET)</b>
              </font>
            </td>
          </tr>
         
          <tr>
            <td bgcolor="#D8E3E7">
                <table>
                    <tr>
                      <td style="vertical-align:middle">
                        <b>Country:</b>
                      </td>
                      <td>  
                        {{ form_widget(form.Country_Name) }}
                      </td>
                    </tr>
                    <tr>
                      <td style="vertical-align:middle">
                        <b>Airport:</b>
                      </td>
                      <td>  
                        {{ form_widget(form.Airport_Name) }}
                      </td>
                    </tr>
                    <tr>
                      <td style="vertical-align:middle">
                          <b>Month:</b>
                      </td>
                      <td>
                          <div class="form-group">
                              <div class='input-group date' id='datetimepicker1'>
                                  <span class="input-group-addon" style="background-color: white">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                  </span>    
                                  {{ form_widget(form.SRSSDate, { 'attr': {'class': 'form-control input-sm', 'readonly': 'true'} }) }}
                              </div>
                          </div>
                      </td>
                    </tr>
                </table>
            </td>
          </tr>
          <tr bgcolor="#D8E3E7">
            <td>
              {{ title|raw }}</br>
              {{ htmlTable|raw }}  
            </td>
          </tr>
        </table>  
      </td>
    </tr>
  </table>  
  {{ form_rest(form) }}  
</form>

<script type="text/javascript">

  $(document).ready(function() {
    // Wähle die Felder aus, die die Änderung überwachen sollen
    $('#form_Country_Name, #form_Airport_Name, #form_SRSSDate').change(function() {
      // Submit das Formular automatisch
      $('#myForm').submit();
    });
  });

  $(function () {
      $('#datetimepicker1').datetimepicker({
        "formatter":"js",
        "format":"mm.yyyy",
        "weekStart":0,
        "autoclose":true,
        "startView":"decade",
        "minView":"year",
        "todayHighlight":true,
        "keyboardNavigation":true,
        "language":"de",
        "showMeridian":false});
  });

  
</script>

{% endblock %}